.centered-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 24px;
    color: #333;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.link-button:hover {
    background-color: #0056b3;
}

/* --------------Match Config--------------- */
.match-config-container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title-container {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

.listing-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
/* TABLE DESIGN */
.custom-table {
    border-collapse: collapse;
    width: 70%;
}

.table-header {
    background-color: #5bcf74;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 50px; /* Set a fixed width for the header cells */
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.table-cell {
    border: 1px solid #ddd;
    padding: 8px;
}
